.panel > .panel-heading{
    background-color: #0066cc;
    color: white;
    text-align: center;
    font-weight: bold;
}

.list-group-item {
    width: 80%;
}

.panel-body {
    background-color: white;
}

.topicLabel {
    text-align: center;
}

.submit {
    background-color: #0066cc;
}

.headline {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.snippet {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.url {
    font-size: 16px; 
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.saveButton {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.noResults {
    text-align: center;
}

.delete {
    text-align: center;
    margin-top: 10px;
}